body {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: century gothic;
      color: yellow;
}
.header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background-color: purple;
      position: fixed;
      width: 100%;
      margin-bottom: 200px;
}
.hide-links {
      display: none;
}
.links {
      display: flex;
      color: #fff;
}